@import './../../style/variables.scss';

.container{
    position: relative;

    span{
        position: absolute;
        top: 13%;
        left: 63%;
        cursor: pointer;
    }
    p{
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 0.2rem;
        color: red;
    }
}