@import './../../style/variables.scss';

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;

    span{
        font-size: 1.5rem;
        color: $white;
        font-weight: bolder;
        letter-spacing: $letterSpacing;
        margin-left: $spacing-sm;
    }
}