@import './../../style/variables.scss';

.search{

    width: auto;
    align-items: center;
    text-decoration: none;
    min-width: 100px;
    padding-right: $spacing-lg;
    padding-left: $spacing-lg;
    justify-items: center;

    &__input{
        width: 100%;
        height: 43px;
        display: flex;
        
        &__text{
            width: 100%;
            height: 40px;
            background-color: transparent;
            color: #fff;
            font-family: $lato;
            font-size: medium;
            justify-content: center;
            font-style: italic;
            border: 2px solid $orange;
            border-right: none;
            border-radius: 5px 0 0 5px;
            padding-left: $spacing-sm;
        }

        &__button{
            width: 40px;
            height: 40px;
            border: 0;
            background: $orange;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }
    }
}
