@import './../../style/variables.scss';
.signin{

    background: rgba($dark, 0.9);
    position: relative;
    backdrop-filter: blur(5px);
    height: 100%;
    transition: all 0.5s ease;
    min-height: 100vh;

    &__title{
        display: flex;
        position: relative;
        padding-bottom: 2rem;
        padding-top: 5rem;
        justify-content: center;
        font-weight: 900;
        font-size: xx-large;
        font-family: $lato;
        font-style: italic;
        color: $white;

        &__h3{
            color: $white;
            font-family: $lato;
            justify-content: center;
            text-align: center;
            margin-bottom: 4rem;
            font-size: xx-large;
            @include breakpoint(md){
                margin-bottom: 2rem;
            }
        }

        @include breakpoint(md){
            font-size: xx-large;
        }
    }

    &__form{

        justify-items: center;
        width: 80%;
        height: 20rem;
        flex-grow: 1;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 10%;

        &__input{
            width: 100%;
            height: 3rem;
            display: inline-block;
            background: transparent;
            border-radius: 0.5em;
            border: 3px outset #ff6601;
            margin-top: 2rem;
            font-size: medium;
            font-weight: 600;
            font-style: bold;
            flex-grow: 1;
            font-family: $lato;
            justify-content: center;
            color: #f8f8f8;

            @include breakpoint(md){
                width: 25rem;
            }
        }

        span{
            color: $white;
            font-family: $lato;
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            &:hover{
                text-shadow: -4px 2px 3px #1C6EA4;
            }
            
        }
        &__button{
            width: 50vw;
            height: 3em;
            border-radius: 0.5em;
            border: 0.2rem solid #ff6601;
            background-color: #ffda05;
            margin-top: 3rem;
            color: $white;
            font-size: 10;

            &:hover{
                background-color: rgba(#ffda05, 0.7);
                cursor: pointer;
            }
            @include breakpoint(md) {
                width: 25rem;
            }
        }
    }
}
